<div #invoice class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="assets/logo.png" style="width:100%; max-width:300px;">
                        </td>
                        
                        <td>
                            {{anneeScolaire}}<br>
                            {{niveauEtude}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            Société XYZ, Inc.<br>
                            12345 Rue Exemple<br>
                            Dakar, Point 3 54321
                        </td>
                        
                        <td>
                             {{eleve.prenom}} {{eleve.nom}}<br>
                            <br>
                            <span *ngFor="let item of eleve.parentsElevesLinks">
                                {{item.parents.prenom}} {{item.parents.nom}}
                                <br>
                                {{item.parents.telephone}}
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr class="heading">
            <td>
                Mensualité
            </td>
            
            <td>
                Montant
            </td>
        </tr>
        
        <tr class="details">
            <td>
                {{moi}}
            </td>
            
            <td>
                {{montant}} XOF
            </td>
        </tr>
        
    </table>
</div>

<button (click)="downloadPDF()" class=" my-3bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
    Télécharger en PDF
</button>